body{
    .followers{
        
        background-color:hsl(222, 33%, 94%);
        height: 14rem;
        margin-left: 1rem;
        
        .followNumber{
            font-size: 32px;
            font-weight: bold;
        }
        .textFollowers{
            letter-spacing: 6px;
        }
    }
}